extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='First name (Christian) last' name='first_name' required='true' value=(undefined===artist ? '' : artist.first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text' placeholder='Family name (surname)' name='family_name' required='true' value=(undefined===artist ? '' : artist.family_name))
    div.form-group
      label(for='nick_name') Nick name:
      input#nick_name.form-control(type='text' name='nick_name' value=(undefined===artist ? '' : artist.nick_name) )
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg